.cache/chroma/telemetry_user_id
.cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx.tar.gz
.cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx/config.json
.cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx/model.onnx
.cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx/special_tokens_map.json
.cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx/tokenizer_config.json
.cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx/tokenizer.json
.cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx/vocab.txt
.cache/huggingface/stored_tokens
.cache/huggingface/token
.cache/huggingface/hub/version.txt
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/5c1283bb8c613770908c2c85b9f3c871ea73527c.lock
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/8f609774f1a22b87875d6c2ab0707d05b0bf73ee.lock
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/24a2fc18ab96693eac02e833bf7373c78fcd4b12ae5f01651e9b75fd854dbcf1.lock
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/54d3633ef9e2ac7380316a1cef600f78e29f81e7.lock
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/93eb411d9c6996cdf666aacfd16b73046aed2f16.lock
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/95effe91209682aff2935db6cbb84ff1d64083b468699cc2ccdc164343582814.lock
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/02915b285b0f7f23bdd1df986e8ea103b2d4d2e6.lock
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/817762d631ad6f9c799f6b9dc713c46420e65546.lock
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/a0ac9466a9c1f3f954a678c5dc3dea2c883f54ae199fa70e5e221b1fe8c93dca.lock
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/eb326a6fc1840dabfa3a30c57c306f89f57e5f0917a351c8d045e79539a6bb1b.lock
.cache/huggingface/hub/.locks/models--EleutherAI--gpt-neox-20b/f74dfbfab8f97770a87769c739fb080c21c8bacc.lock
.cache/huggingface/hub/.locks/models--HamzaSidhu786--speech-accent-detection/0cefd5bea148f3ba0fd807d7beb37ede8d68325b896ba3d8d02313603a66aa5f.lock
.cache/huggingface/hub/.locks/models--HamzaSidhu786--speech-accent-detection/59f9b1e42c894faad10dd985bf39edb558de1434.lock
.cache/huggingface/hub/.locks/models--HamzaSidhu786--speech-accent-detection/73caa151574001d3d495fae897e1d38968249712.lock
.cache/huggingface/hub/.locks/models--Jzuluaga--accent-id-commonaccent_xlsr-en-english/078bb7cafdc7b3e3054250546181c4b99d44576c.lock
.cache/huggingface/hub/.locks/models--Jzuluaga--accent-id-commonaccent_xlsr-en-english/fa8c98643ec321db280db1a2dfb31f568bc6e1fd.lock
.cache/huggingface/hub/.locks/models--MaherMohsen--furniture-yolov8/d63cbfa5764867c0066bedfa43cf2dcd90a412a1de44b2e238c43978a9d28ea6.lock
.cache/huggingface/hub/.locks/models--facebook--blenderbot-400M-distill/2b13caafbcba82c02a6d4935daad7745b7de349a.lock
.cache/huggingface/hub/.locks/models--facebook--blenderbot-400M-distill/3f35fe0f527ae0416b1b71ac668a9dd53ba1ced8.lock
.cache/huggingface/hub/.locks/models--facebook--blenderbot-400M-distill/4bdb819ef10be2b1f9631d01a05447821b0d1489.lock
.cache/huggingface/hub/.locks/models--facebook--blenderbot-400M-distill/21b5c341f10df656025c59b4344cb0f4add5200b.lock
.cache/huggingface/hub/.locks/models--facebook--blenderbot-400M-distill/66e084c9ed7569bfb5d37f4409c952625c79875e.lock
.cache/huggingface/hub/.locks/models--facebook--blenderbot-400M-distill/075e032320c5f6c96b55c04b252c0a47ca5e8bbd86ef209cd1470fdd750449c5.lock
.cache/huggingface/hub/.locks/models--facebook--blenderbot-400M-distill/90a8490a70885df0f00b10166b7c08d6d063208542747250c6e560a2c1d9445c.lock
.cache/huggingface/hub/.locks/models--facebook--blenderbot-400M-distill/96e3cf14209b242b9f16a5e78c9c3646fbb4cc81.lock
.cache/huggingface/hub/.locks/models--facebook--blenderbot-400M-distill/88513e098ed579d19b8c5fd3c8858dae231f8f9d.lock
.cache/huggingface/hub/.locks/models--facebook--blenderbot-400M-distill/e97d1993365bb21c88f390e8703e4c1af564821f.lock
.cache/huggingface/hub/.locks/models--mattmdjaga--segformer_b2_clothes/7bf506a3672235c681b35e124ef9333ca6f5e8b2.lock
.cache/huggingface/hub/.locks/models--mattmdjaga--segformer_b2_clothes/8f86fd90c567afd4370b3cc3a7e81ed767a632b2832a738331af660acc0c4c68.lock
.cache/huggingface/hub/.locks/models--mattmdjaga--segformer_b2_clothes/d230721d08201d422c6e3d11994083b55e7e66ca.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/53aa51172d142c89d9012cce15ae4d6cc0ca6895895114379cacb4fab128d9db.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/58d4a9a45664eb9e12de9549c548c09b6134c17f.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/59d594003bf59880a884c574bf88ef7555bb0202.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/72b987fd805cfa2b58c4c8c952b274a11bfd5a00.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/952a9b81c0bfd99800fabf352f69c7ccd46c5e43.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/c79f2b6a0cea6f4b564fed1938984bace9d30ff0.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/cb202bfe2e3c98645018a6d12f182a434c9d3e02.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/d1514c3162bbe87b343f565fadc62e6c06f04f03.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/e7b0375001f109a6b8873d756ad4f7bbb15fbaa5.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/fb140275c155a9c7c5a3b3e0e77a9e839594a938.lock
.cache/huggingface/hub/.locks/models--sentence-transformers--all-MiniLM-L6-v2/fd1b291129c607e5d49799f87cb219b27f98acdf.lock
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/.no_exist/c292233c833e336628618a88a648727eb3dff0a7/added_tokens.json
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/.no_exist/c292233c833e336628618a88a648727eb3dff0a7/chat_template.jinja
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/.no_exist/c292233c833e336628618a88a648727eb3dff0a7/model.safetensors
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/5c1283bb8c613770908c2c85b9f3c871ea73527c
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/8f609774f1a22b87875d6c2ab0707d05b0bf73ee
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/24a2fc18ab96693eac02e833bf7373c78fcd4b12ae5f01651e9b75fd854dbcf1
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/54d3633ef9e2ac7380316a1cef600f78e29f81e7
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/93eb411d9c6996cdf666aacfd16b73046aed2f16
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/95effe91209682aff2935db6cbb84ff1d64083b468699cc2ccdc164343582814
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/02915b285b0f7f23bdd1df986e8ea103b2d4d2e6
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/817762d631ad6f9c799f6b9dc713c46420e65546
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/a0ac9466a9c1f3f954a678c5dc3dea2c883f54ae199fa70e5e221b1fe8c93dca.incomplete
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/eb326a6fc1840dabfa3a30c57c306f89f57e5f0917a351c8d045e79539a6bb1b
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/blobs/f74dfbfab8f97770a87769c739fb080c21c8bacc
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/refs/main
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/snapshots/c292233c833e336628618a88a648727eb3dff0a7/config.json
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/snapshots/c292233c833e336628618a88a648727eb3dff0a7/merges.txt
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/snapshots/c292233c833e336628618a88a648727eb3dff0a7/model-00001-of-00046.safetensors
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/snapshots/c292233c833e336628618a88a648727eb3dff0a7/model-00002-of-00046.safetensors
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/snapshots/c292233c833e336628618a88a648727eb3dff0a7/model-00003-of-00046.safetensors
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/snapshots/c292233c833e336628618a88a648727eb3dff0a7/model.safetensors.index.json
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/snapshots/c292233c833e336628618a88a648727eb3dff0a7/special_tokens_map.json
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/snapshots/c292233c833e336628618a88a648727eb3dff0a7/tokenizer_config.json
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/snapshots/c292233c833e336628618a88a648727eb3dff0a7/tokenizer.json
.cache/huggingface/hub/models--EleutherAI--gpt-neox-20b/snapshots/c292233c833e336628618a88a648727eb3dff0a7/vocab.json
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/.no_exist/6b1926cbb86518dea6d9167ced0d4d4fc49d8370/added_tokens.json
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/.no_exist/6b1926cbb86518dea6d9167ced0d4d4fc49d8370/chat_template.jinja
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/.no_exist/6b1926cbb86518dea6d9167ced0d4d4fc49d8370/processor_config.json
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/.no_exist/6b1926cbb86518dea6d9167ced0d4d4fc49d8370/special_tokens_map.json
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/.no_exist/6b1926cbb86518dea6d9167ced0d4d4fc49d8370/tokenizer_config.json
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/.no_exist/6b1926cbb86518dea6d9167ced0d4d4fc49d8370/tokenizer.json
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/.no_exist/6b1926cbb86518dea6d9167ced0d4d4fc49d8370/vocab.json
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/blobs/0cefd5bea148f3ba0fd807d7beb37ede8d68325b896ba3d8d02313603a66aa5f
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/blobs/59f9b1e42c894faad10dd985bf39edb558de1434
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/blobs/73caa151574001d3d495fae897e1d38968249712
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/refs/main
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/snapshots/6b1926cbb86518dea6d9167ced0d4d4fc49d8370/config.json
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/snapshots/6b1926cbb86518dea6d9167ced0d4d4fc49d8370/model.safetensors
.cache/huggingface/hub/models--HamzaSidhu786--speech-accent-detection/snapshots/6b1926cbb86518dea6d9167ced0d4d4fc49d8370/preprocessor_config.json
.cache/huggingface/hub/models--Jzuluaga--accent-id-commonaccent_xlsr-en-english/blobs/078bb7cafdc7b3e3054250546181c4b99d44576c
.cache/huggingface/hub/models--Jzuluaga--accent-id-commonaccent_xlsr-en-english/blobs/fa8c98643ec321db280db1a2dfb31f568bc6e1fd
.cache/huggingface/hub/models--Jzuluaga--accent-id-commonaccent_xlsr-en-english/refs/main
.cache/huggingface/hub/models--Jzuluaga--accent-id-commonaccent_xlsr-en-english/snapshots/a106c221489c8239ce7f75a072cb134bba7d5e67/custom_interface.py
.cache/huggingface/hub/models--Jzuluaga--accent-id-commonaccent_xlsr-en-english/snapshots/a106c221489c8239ce7f75a072cb134bba7d5e67/hyperparams.yaml
.cache/huggingface/hub/models--MaherMohsen--furniture-yolov8/.no_exist/bfe61bb7ddb734f468c46aa2c9f257d60f53a680/best.pt
.cache/huggingface/hub/models--MaherMohsen--furniture-yolov8/blobs/d63cbfa5764867c0066bedfa43cf2dcd90a412a1de44b2e238c43978a9d28ea6
.cache/huggingface/hub/models--MaherMohsen--furniture-yolov8/refs/main
.cache/huggingface/hub/models--MaherMohsen--furniture-yolov8/snapshots/bfe61bb7ddb734f468c46aa2c9f257d60f53a680/model.pt
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/.no_exist/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/chat_template.jinja
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/.no_exist/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/model.safetensors
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/.no_exist/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/model.safetensors.index.json
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/blobs/2b13caafbcba82c02a6d4935daad7745b7de349a
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/blobs/3f35fe0f527ae0416b1b71ac668a9dd53ba1ced8
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/blobs/4bdb819ef10be2b1f9631d01a05447821b0d1489
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/blobs/21b5c341f10df656025c59b4344cb0f4add5200b
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/blobs/66e084c9ed7569bfb5d37f4409c952625c79875e
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/blobs/075e032320c5f6c96b55c04b252c0a47ca5e8bbd86ef209cd1470fdd750449c5
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/blobs/90a8490a70885df0f00b10166b7c08d6d063208542747250c6e560a2c1d9445c
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/blobs/96e3cf14209b242b9f16a5e78c9c3646fbb4cc81
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/blobs/88513e098ed579d19b8c5fd3c8858dae231f8f9d
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/blobs/e97d1993365bb21c88f390e8703e4c1af564821f
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/refs/main
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/refs/refs/pr/7
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/snapshots/a5c7ef0e7e1109ef7b4af6f03841305d7d46fa59/model.safetensors
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/snapshots/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/added_tokens.json
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/snapshots/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/config.json
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/snapshots/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/generation_config.json
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/snapshots/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/merges.txt
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/snapshots/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/pytorch_model.bin
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/snapshots/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/special_tokens_map.json
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/snapshots/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/tokenizer_config.json
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/snapshots/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/tokenizer.json
.cache/huggingface/hub/models--facebook--blenderbot-400M-distill/snapshots/eaaf64e3be20ad1f1fb0bdf689565ba52c97eafe/vocab.json
.cache/huggingface/hub/models--mattmdjaga--segformer_b2_clothes/blobs/7bf506a3672235c681b35e124ef9333ca6f5e8b2
.cache/huggingface/hub/models--mattmdjaga--segformer_b2_clothes/blobs/8f86fd90c567afd4370b3cc3a7e81ed767a632b2832a738331af660acc0c4c68
.cache/huggingface/hub/models--mattmdjaga--segformer_b2_clothes/blobs/d230721d08201d422c6e3d11994083b55e7e66ca
.cache/huggingface/hub/models--mattmdjaga--segformer_b2_clothes/refs/main
.cache/huggingface/hub/models--mattmdjaga--segformer_b2_clothes/snapshots/fc92b3abe7b123c814ca7910683151f2b7b7281e/config.json
.cache/huggingface/hub/models--mattmdjaga--segformer_b2_clothes/snapshots/fc92b3abe7b123c814ca7910683151f2b7b7281e/model.safetensors
.cache/huggingface/hub/models--mattmdjaga--segformer_b2_clothes/snapshots/fc92b3abe7b123c814ca7910683151f2b7b7281e/preprocessor_config.json
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/adapter_config.json
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/added_tokens.json
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/chat_template.jinja
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/53aa51172d142c89d9012cce15ae4d6cc0ca6895895114379cacb4fab128d9db
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/58d4a9a45664eb9e12de9549c548c09b6134c17f
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/59d594003bf59880a884c574bf88ef7555bb0202
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/72b987fd805cfa2b58c4c8c952b274a11bfd5a00
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/952a9b81c0bfd99800fabf352f69c7ccd46c5e43
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/c79f2b6a0cea6f4b564fed1938984bace9d30ff0
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/cb202bfe2e3c98645018a6d12f182a434c9d3e02
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/d1514c3162bbe87b343f565fadc62e6c06f04f03
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/e7b0375001f109a6b8873d756ad4f7bbb15fbaa5
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/fb140275c155a9c7c5a3b3e0e77a9e839594a938
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/blobs/fd1b291129c607e5d49799f87cb219b27f98acdf
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/refs/main
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config_sentence_transformers.json
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config.json
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/model.safetensors
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/modules.json
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/README.md
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/sentence_bert_config.json
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/special_tokens_map.json
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/tokenizer_config.json
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/tokenizer.json
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/vocab.txt
.cache/huggingface/hub/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/1_Pooling/config.json
.cache/huggingface/xet/logs/xet_20251029T103130461+0000_79245.log
.cache/kagglehub/datasets/fedesoriano/stroke-prediction-dataset/1.complete
.cache/kagglehub/datasets/fedesoriano/stroke-prediction-dataset/Untitled-1.ipynb
.cache/kagglehub/datasets/fedesoriano/stroke-prediction-dataset/versions/1/healthcare-dataset-stroke-data.csv
.cache/kagglehub/datasets/jillanisofttech/brain-stroke-dataset/1.complete
.cache/kagglehub/datasets/jillanisofttech/brain-stroke-dataset/versions/1/brain_stroke.csv
.cache/kagglehub/datasets/prosperchuks/health-dataset/5.complete
.cache/kagglehub/datasets/prosperchuks/health-dataset/versions/5/diabetes_data.csv
.cache/kagglehub/datasets/prosperchuks/health-dataset/versions/5/hypertension_data.csv
.cache/kagglehub/datasets/prosperchuks/health-dataset/versions/5/stroke_data.csv
.cache/kagglehub/datasets/shashwatwork/cerebral-stroke-predictionimbalaced-dataset/1.complete
.cache/kagglehub/datasets/shashwatwork/cerebral-stroke-predictionimbalaced-dataset/versions/1/dataset.csv
.cache/openai-python/.install/manifests.json
.cache/openai-python/.install/bin/grit
.cache/torch/hub/checkpoints/resnet50-0676ba61.pth
.cargo/env
.cargo/bin/cargo
.cargo/bin/cargo-clippy
.cargo/bin/cargo-fmt
.cargo/bin/cargo-miri
.cargo/bin/clippy-driver
.cargo/bin/rls
.cargo/bin/rust-analyzer
.cargo/bin/rust-gdb
.cargo/bin/rust-gdbgui
.cargo/bin/rust-lldb
.cargo/bin/rustc
.cargo/bin/rustdoc
.cargo/bin/rustfmt
.cargo/bin/rustup
